
body{
    margin-left: 80px;
    background-color: lightgrey;
    font-family: Cambria;
    /* display: flex; */
   
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-left: 50px;
}
[type=button], [type=reset], [type=submit], button {
    margin-left:47%;   
    width:150px;
    bottom:280px;
}
select {
    margin-left: 50px;
    word-wrap: normal;
}
input[type=text], input[type=email], input[type=password], input[type=number]{
    width: 70%;
    padding: 5px 5px;
    margin: 5px 0px;
    margin-left: 50px;
    box-sizing: border-box;
    border: 2px solid #58819f;
} 


.thanku{
    font-size: 50px;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}



